html
	head
		title Bulletin Board
		link(rel="stylesheet", href="../css/style.css")
		script.
			function toPost() {
				window.location.href = '/post_message';
			}

	body
		div.wrapper
			h1 Bulletin board
			p Please be nice to each other!
			br
			button.button(onclick="toPost()") ENTER